@font-face {
  font-family: 'San Francisco';
  font-weight: normal;
  src: url('https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff');
}

@font-face {
  font-family: 'San Francisco';
  font-weight: bold;
  src: url('https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff');
}

$sm: 768px;

$white: #ffffff;
$black: #000000;
$dark-grey: #040807;
$grey: #c4c4c4;

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: 'San Francisco', sans-serif;

  @media (min-width: $sm) {
    font-size: 28px;
  }
}

* {
  box-sizing: border-box;
}

#root {
  width: 100%;
  height: 100%;
}

.page-content {
  padding: 24px 30px;

  h1 {
    margin: 0;
    margin-bottom: 0.6em;
    font-size: 1.6em;
  }
}

.login-page {
  width: 100%;
  height: 100%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .login-page-logo {
    width: 300px;
    margin: 8% 0 40px 0;
    object-fit: contain;
  }

  .login-page-form {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .input-container {
      position: relative;
      margin: 4px 8px;

      input {
        width: 100%;
        padding: 6px 10px 12px;
        border: 2px solid $dark-grey;
        font-size: 1.2em;
        border-radius: 4px;
        outline: none;

        &::-webkit-input-placeholder { opacity: 0.4; }
        &:-ms-input-placeholder { opacity: 0.4; }
        &::placeholder { opacity: 0.4; }
      }

      &.username, &.password {
        input {
          padding-left: 54px;
        }

        &:before {
          position: absolute;
          left: 12px;
          top: 50%;
          transform: translateY(-50%);
          font-size: 1.2em;
        }
      }

      &.username {
        width: 30%;
        max-width: 350px;
        min-width: 300px;

        &:before {
          content: '✉️';
        }
      }

      &.password {
        width: 25%;
        max-width: 250px;
        min-width: 250px;

        &:before {
          content: '🔑';
        }
      }

      &.submit {
        width: 25%;
        max-width: 250px;
        min-width: 250px;

        input {
          background: $dark-grey;
          color: $white;
          cursor: pointer;
        }
      }
    }
  }

  .login-page-note {
    margin-top: auto;
    font-size: 0.85em;
    text-align: center;
    opacity: 0.6;
  }
}

.header {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  padding: 10px 30px;
  font-size: 1.15em;
  background: $white;
  border-bottom: 1px solid $grey;

  @media (min-width: $sm) {
    padding: 20px 30px;
  }

  a {
    text-decoration: none;
    color: $black;
  }

  .header-logo {
    display: flex;
    margin-right: 15px;
    margin-bottom: -4px;

    img {
      width: 100px;
      object-fit: contain;

      @media (min-width: $sm) {
        width: 150px;
      }
    }
  }

  .header-breadcrumbs {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    white-space: nowrap;
    overflow: auto;
    margin-right: 20px;

    span {
      margin: 0 8px;
    }
  }

  .header-logout {
    margin-left: auto;
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 36px 30px 24px 30px;

  a { text-decoration: none; }

  .footer-rules-link {
    display: inline-block;
    color: $black;
    border-bottom: 1px solid $black;
  }
}

.categories {
  .categories-list {
    .categories-grid {
      width: calc(100% + 16px);
      display: flex;
      flex-wrap: wrap;

      a {
        width: calc(100% - 16px);
        margin: 0 16px 16px 0;
        position: relative;
        border-radius: 4px;
        overflow: hidden;
        background: $black;
        font-size: 1.4em;

        @media (min-width: $sm) {
          width: calc(50% - 16px);
        }

        &:before {
          content: '';
          display: block;
          margin-top: 50%;
        }

        img {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          object-fit: cover;
        }

        span {
          position: absolute;
          width: 100%;
          top: 0;
          left: 0;
          padding: 8px 10px;
          color: $white;
          background: rgba($black, 0.7);
        }

        button {
          position: absolute;
          bottom: 4px;
          left: 4px;
          background: $white;
          padding: 6px 10px;
          border: none;
          cursor: pointer;
        }
      }
    }
  }

  .categories-recipes-list {
    width: calc(100% + 30px);
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;

    .categories-recipe-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: calc(50% - 30px);
      margin: 0 30px 30px 0;
      text-align: center;
      text-decoration: none;

      .categories-recipe-image {
        width: 32vw;
        height: 32vw;
        object-fit: cover;
        background: $black;
        border-radius: 50%;
        margin-bottom: 10px;
      }

      .categories-recipe-name {
        max-width: 100%;
        color: $black;
        font-size: 1.2em;
        overflow: hidden;
      }

      button {
        padding: 6px 10px;
        cursor: pointer;
      }

      @media (min-width: $sm) {
        width: calc(25% - 30px);

        .categories-recipe-image {
          width: 16vw;
          height: 16vw;
        }
      }
    }
  }

  .categories-edit-name {
    display: flex;
    align-items: center;

    div {
      font-size: 0.5em;
    }
  }
}

.rules {
  .rules-text {
    line-height: 1.3em;

    ul {
      padding: 0;
      list-style-type: none;
    }

    p {
      margin: 0;
    }
  }

  .rules-edit {
    margin-top: 40px;

    button {
      margin-top: 10px;
    }
  }
}



.recipe {
  display: flex;
  flex-direction: row;
  font-size: 28px;
  line-height: 33px;
  overflow: hidden;

  h1, h2 {
    padding: 0;
    margin: 0em 0 0.5em;
    font-size: 44px;
    line-height: 53px;
  }

  p {
    padding: 0;
    margin: 0;
  }

  .main, .sub {
    padding: 5px;
    flex: 1 1 0px
  }

  .main.half {
    width: 50%;
  }

  .close {
    cursor: pointer;
    position: absolute;
    right: 40px;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    text-align: left;
  }

  table tr {
    border-bottom: 1px solid #5f4239;
  }

  .imageList {
    justify-content: center;
    display: flex;
    flex-direction: column;

    .image{
      position: relative;
      .delete{
        position: absolute;
        top: 0;
        left: 0;
      }
      img{
         width: 100%;
      }
    }


  }

  .howTo {
    margin-bottom: 1em;
    overflow-x: auto;
    white-space: nowrap;
  }

  .main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 1em;

    .first {
      width: 100%;
    }


    .second {
      flex-basis: 50%;
    }
  }

  .full .first {
    width: 50%;
  }

  .sub {
    .recipe {
      flex-direction: column;
    }
  }

  .ingridients {
    display: flex;
    flex-direction: column;
    line-height: 1.5em;
    margin: 1em 2em 1em 0;

    .ingridient {
      display: flex;
      flex-direction: row;
    }

    .name {

      span {
        border-bottom: 1px solid black;
        cursor: pointer;
      }
    }

    .quantity {
      flex-grow: 2;
      flex-shrink: 2;
      text-align: right;
    }
  }
}

.edit {
  width: 700px;
  display: flex;
  flex-direction: column;
  font-size: 18px;

  input {
    width: 200px;
  }

  button.update {
    width: 100px;
  }
}
