@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700&display=swap');

body, html {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

#root {
  padding: 1em;
}

.greetings {
  margin: 30px auto 0;
  display: flex;
  flex-direction: column;
  width: fit-content;
  text-align: center;
}

.recipe {
  display: flex;
  flex-direction: row;
  font-size: 28px;
  line-height: 33px;
  overflow: hidden;

  h1, h2 {
    padding: 0;
    margin: 0em 0 0.5em;
    font-size: 44px;
    line-height: 53px;
  }

  p {
    padding: 0;
    margin: 0;
  }

  .main, .sub {
    padding: 5px;
    flex: 1 1 0px
  }

  .main.half {
    width: 50%;
  }

  .close {
    cursor: pointer;
    position: absolute;
    right: 40px;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    text-align: left;
  }

  table tr {
    border-bottom: 1px solid #5f4239;
  }

  .imageList {
    justify-content: center;
    display: flex;
    flex-direction: column;

    .image{
      position: relative;
      .delete{
        position: absolute;
        top: 0;
        left: 0;
      }
      img{
         width: 100%;
      }
    }


  }

  .howTo {
    margin-bottom: 1em;
    overflow-x: auto;
    white-space: nowrap;
  }

  .main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 1em;

    .first {
      width: 100%;
    }


    .second {
      flex-basis: 50%;
    }
  }

  .full .first {
    width: 50%;
  }

  .sub {
    .recipe {
      flex-direction: column;
    }
  }

  .ingridients {
    display: flex;
    flex-direction: column;
    line-height: 1.5em;
    margin: 1em 2em 1em 0;

    .ingridient {
      display: flex;
      flex-direction: row;
    }

    .name {

      span {
        border-bottom: 1px solid black;
        cursor: pointer;
      }
    }

    .quantity {
      flex-grow: 2;
      flex-shrink: 2;
      text-align: right;
    }
  }

}

.breadcrumbs {
  font-size: 32px;
  line-height: 38px;
  display: flex;
  align-items: center;
  flex-direction: row;

  a {
    text-decoration: none;
  }

  a:last-child {
    margin-left: auto;
  }
}
.catalog {
  .recipesList{
    li{
      padding: 5px 0;
    }

  }

  .categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .category {
      width: 50%;
      position: relative;
      overflow: hidden;

      img {
        background: black;
      }

      span.name {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 43px;
        line-height: 51px;
      }

      button.delete {
        position: absolute;
        bottom: 2px;
        left: 0;
        font-size: 43px;
        line-height: 51px;
      }

      a {
        color: white;
      }
    }
  }
}

.edit {
  width: 700px;
  display: flex;
  flex-direction: column;
  font-size: 18px;

  input {
    width: 200px;
  }

  button.update {
    width: 100px;
  }
}
